# PureScript
bower_components/
node_modules/
.pulp-cache/
output/
output-*/
dist/
generated-docs/
.psc-package/
.psc*
.purs*
.psa*
.spago
package-lock.json

# Zed extension build
zed-extension/target/
test-lsp/
